.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  background-color: var(--color-grey-1);
  border-radius: calc(var(--border-radius) * 3);
  border: var(--border);
  padding: 2rem;
  width: 40%;
  box-shadow: var(--box-shadow-big);
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 1140px) {
  .modal {
    width: 70%;
    min-width: 25rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--description-size);
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: default;
}

.title {
  font-size: var(--header-size);
}

.description {
  font-size: var(--description-size);
}

.form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
