.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 75;
}

.modal {
  background-color: var(--color-grey-1);
  border-radius: calc(var(--border-radius) * 3);
  border: var(--border);
  padding: 2rem;
  width: 40%;
  box-shadow: var(--box-shadow-big);
  min-width: 40rem;
}
@media (max-width: 1140px) {
  .modal {
    width: 70%;
    min-width: 30rem;
  }
}

.title {
  font-size: var(--header-size);
}

.desc {
  font-size: var(--desc-size);
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
