.quill .ql-container {
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: inherit;
}

.quill .ql-editor {
  padding: 0;
}
.quill .ql-editor::before {
  font-style: normal;
  left: 0;
  color: var(--color-grey-5);
}

.quill .ql-editor p {
  margin: 0 0 1em 0;
  line-height: 1.5;
}
