.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.form {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.label {
  font-weight: bold;
  line-height: 1.5rem;
}

.description {
  font-size: var(--description-size);
}

.input {
  text-overflow: ellipsis;
  width: 100%;
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: var(--color-grey-2);
  border: var(--border);
  padding: 0 0.5rem;
  color: inherit;
  font-size: inherit;
  outline: none;
}
.input:focus {
  border-color: var(--color-accent-light);
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.input[type="color"] {
  cursor: pointer;
  padding: 0;
  width: var(--height);
}
